.input {
  display: flex;
  margin-bottom: 25px;
  position: relative;
  align-items: center;
}
.input_box {
  width: 100%;
  border-radius: 50px;
  padding: 20px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}
.input_submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  left: 0px;
  border: none;
  font-size: 15px;
  border: none;
  background-color: blueviolet;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 5px black;
}

.chips-bar {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.coinsBadge {
  background: url(https://firebasestorage.googleapis.com/v0/b/to-better.appspot.com/o/coins.png?alt=media&token=4859ecb3-3ada-451c-8b2c-528ad4a8814f)
    no-repeat;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 100px;
  width: 30%;
  height: 80px;
  background-position: 0px 40px;
}
