@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.MuiTabs-flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Mui-selected svg path {
  fill: rgb(162, 32, 158);
}
